<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% if @messages.size > 0 %>
      <% @messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    <% else %>
      <p>Feel free to ask your query</p>
    <% end %>
    <div class="chat-form">
      <%= simple_form_for [@ride, @chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
      %>
        <% if current_user != @chatroom.driver %>
          <%= f.input :content,
            label: false,
            placeholder: "Message ##{@chatroom.driver.first_name}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% else %>
          <%= f.input :content,
            label: false,
            placeholder: "Message ##{@chatroom.passenger.first_name}",
            wrapper_html: {class: "flex-grow-1"}
          %>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
