<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

      <%= link_to root_path do %>
        <%= image_tag 'home.svg' %>
      <% end %>

      <%= link_to root_path do %>
        <%= image_tag 'message-square.svg' %>
      <% end %>

      <%= link_to root_path do %>
        <%= image_tag 'user.svg' %>
      <% end %>

      <%= link_to dashboard_path do %>
        <%= image_tag 'clipboard.svg' %>
      <% end %>

    <%# Hamburger %>
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
  </div>
</div>
