<div class="container home-container" id="search-form">
  <h1><strong>Find a ride to your destination</strong></h1>
  <p><strong>Enter your journey details, hop in & go!</strong></p>
  <%= render 'pages/form' %>
</div>
<div class="container home-container benefits">
  <%= image_tag "home.jpg", id: "home-img", alt: "Two people traveling together in a car" %>
  <h2><em>"Wherever you go <br>
      -<br>
      Sync you flow!"</em></h2>
  <h1><strong>Why RoadSync?</strong></h1>
  <div class="benefits-card">
    <h2><strong>Saving costs</strong></h2>
    <%= image_tag "save_money.png", alt: "Two people traveling together in a car" %>
    <h5>Lower Transportation Costs</h5>
    <h5>Reduced Fuel Expenses</h5>
  </div>
  <div class="benefits-card">
    <h2><strong>Environmental Benefits</strong></h2>
    <%= image_tag "environment.png", alt: "Two people traveling together in a car" %>
    <h5>Reduced Carbon Footprint</h5>
    <h5>Decreased Traffic Congestion</h5>
  </div>
  <div class="benefits-card">
    <h2><strong>Social Benefits</strong></h2>
    <%= image_tag "social.png", id: "social-img", alt: "Two people traveling together in a car" %>
    <h5>Getting in touch with new people</h5>
    <h5>Enhanced Safety with a shared ride </h5>
  </div>
  <%= link_to "Find your perfect driver", '#search-form', class: "btn btn-primary mt-3" %>
</div>
