<div class="container" id="driver-profile">
  <div class="driver-card">
    <div class="back-button">
      <%= link_to image_tag("arrow-left.svg", alt:"back"), ride_path(id: params[:ride_id], origin: params[:origin], destination:params[:destination], date:params[:date], passengers:params[:passengers])%>
    </div>
    <div class="name-photo-card">
      <div class="name align-self-center">
        <h2><%= @driver.user.first_name %> <%= @driver.user.last_name %></h2>
      </div>
      <%= cl_image_tag @driver.user.photo.key, class: "driver-avatar" %>
    </div>
    <div class="driver-details">
      <div class="driver-details-info">
        <p><%= image_tag 'mail.svg' %>  <span class='ms-3'><%= @driver.user.email %></span></p>
        <p><%= image_tag 'phone.svg' %>  <span class='ms-3'><%= @driver.user.phone_number %></span></p>
        <p>
          <span>
            <i class="fa-regular fa-id-card"></i>
          </span>
          <span class='ms-3'>
            <%= @driver.dl_number %>
          </span>
        </p>
        <p><%= image_tag 'driverlicense.png', class: "icon-driver-img" %>  <span class='ms-3'><%= @driver.car_plate %></span></p>
        <p>
          <span>
            <i class="fa-solid fa-car"></i>
          </span>
          <span class='ms-3'>
            <%= @driver.car_model %>
          </span>
        </p>
        <p><%= image_tag 'color-icon.svg', class: "icon-color" %><span class='ms-2'><%= @driver.car_color %></span></p>
      </div>
    </div>
  </div>
  <div class="header-position d-flex justify-content-between">
    <div class="align-self-center">
      <h1 class="mb-0">Reviews</h1>
    </div>
    <div>
      <%= image_tag("driverprofile2.svg", alt:"car", class: "icon-dark")%>
    </div>
  </div>
  <div class="reviews-list d-flex">
    <% if @reviews.nil? %>
      <div class="review-card">
        <p>No reviews yet</p>
      </div>
    <% else %>
      <% @reviews.each do |review| %>
        <div class="review-card">
          <div>
            <%= cl_image_tag review.reviewer.photo.key, crop: :fill, class:"avatar-bordered review-avatar" %>
          </div>
          <div class="review-info">
            <h3><%= review.reviewer.first_name %></h3>
            <p><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
