<div class="map-container" data-controller="map" data-map-key-value="<%= ENV['TOMTOM_API_KEY']%>"
   data-map-map-data-value="<%=map_data%>" data-map-start-mark-value="<%= asset_path('start-marker.png') %>"
   data-map-end-mark-value="<%= asset_path('end-marker.svg') %>"  data-map-person-start-mark-value="<%= asset_path('person-start-marker.png') %>"
    data-map-person-end-mark-value="<%= asset_path('person-end-marker.png') %>">
  <div data-map-target="map" style="width: 100%; height: 400px;" id="map"></div>
</div>
