<div class="container">
  <div class="title-card">
    <div class="title">
      <%= link_to image_tag("arrow-left.svg", alt:"back"), root_path%>
      <h2><%= "Available rides to:" unless @destination.blank?  %></h2>
      <h1><%= @destination %></h1>
      <p><%= "On #{@date.strftime('%d %b %Y')}" unless @date.blank? %></>
    </div>
    <%= image_tag("car-icon.svg", alt:"car", class: "title-img")%>
  </div>

  <div class="container-ride-card">
    <% @rides.each do |ride|%>
      <%= link_to ride_path(ride), class: "link-ride" do %>
        <div class="card-ride">
          <div class="card-info">
            <%# Line %>
            <div class="third-image">
              <%= image_tag "line.svg" %>
            </div>

            <%# Route %>
            <div class='ride-info'>
              <div class="card-route">
                <h2><%= ride.origin %></h2>
              </div>
              <div class="second-part">
                <h2><%= ride.destination %></h2>
              </div>
            </div>


            <%# Avatar %>
            <div class="avatar-card">
              <%= cl_image_tag ride.driver.user.photo.key, crop: :fill, class:"avatar-bordered" %>
              <p class="avatar-name"><%= ride.driver.user.first_name %></p>
            </div>
          </div>
          <div class="card-available">
            <div class="Price-per-Hour">
              <p><i class="fa-solid fa-euro-sign"></i><%= ride.price_per_km %> /km</p>
            </div>
            <p class="start-time"><i class="fa-regular fa-clock"></i><%= ride.start_time.strftime('%H:%M') %></p>
          </div>
        </div>
      <% end %>
    <%end %>
  </div>

</div>
