<div class="container show-container">
  <div class="title">
    <%= link_to image_tag("arrow-left.svg", alt:"back"), rides_path%>
    <h2>Your selected ride:</h2>
  </div>
  <div class="line-ride-card">
    <%= image_tag("line.svg", alt: "journey") %>
    <div class="show-info">
      <div class="line-ride-card-route origin">
        <h1><%= @ride.origin %></h1>
        <p><%= @ride.start_time.strftime('%H:%M') %></p>
      </div>
      <div class="line-ride-card-route destination">
        <h1><%= @ride.destination %></h1>
        <p><%= @ride.price_per_km %> €/km</p>
      </div>
    </div>
  </div>



  <%= link_to '#', class: "text-decoration-none text-darkblue" do %>
    <div class="driver-card">
      <%= cl_image_tag @ride.driver.user.photo.key, crop: :fill, class:"avatar-bordered" %>
      <div class="driver-info">
        <h2><%= @ride.driver.user.first_name %></h2>
        <p><%= @ride.driver.car_model %></p>
      </div>
      <%= simple_form_for ([@ride, @chatroom]) do |f| %>
        <%= f.hidden_field :driver_id, value: @ride.driver.user.id %>
        <%= f.hidden_field :passenger_id, value: current_user.id %>
        <%= f.hidden_field :ride_id, value: @ride.id %>
        <%= f.submit style: "display:none;" %>
        <button type="button" onclick="document.querySelector('form').submit();" class="button-with-svg">
          <%= image_tag('chat.svg', alt: 'Chat with driver') %>
        </button>
      <% end %>
    </div>
  <% end %>





  <%= simple_form_for ([@ride, @booking]), html: {class: "ride-book-card"} do |f| %>
    <div class="ride-book-input">
      <%= f.input :seats, input_html: {value: 1}%>
    </div>
    <div class="ride-book-container">
      <%= f.button :submit, "Book" %>
    </div>
  <% end %>
  <div class="reviews-list">
    <h2>Driver Reviews</h2>
    <% if @reviews.nil? %>
      <p>No reviews yet</p>
    <% else %>
      <% @reviews.each do |review| %>
        <div class="review-card">
          <div>
            <%= cl_image_tag review.reviewer.photo.key, crop: :fill, class:"avatar-bordered review-avatar" %>
          </div>
          <div class="review-info">
            <h3><%= review.reviewer.first_name %></h3>
            <p><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
