<div class="container show-container" data-controller="map" data-map-key-value="<%= ENV['TOMTOM_API_KEY']%>"
   data-map-map-data-value="<%=@map_data%>" data-map-start-mark-value="<%= asset_path('start-marker.png') %>"
   data-map-end-mark-value="<%= asset_path('end-marker.svg') %>"  data-map-person-start-mark-value="<%= asset_path('person-start-marker.png') %>"
    data-map-person-end-mark-value="<%= asset_path('person-end-marker.png') %>">
  <%= render "map"%>
  <div class="line-ride-card">
    <%= image_tag("line.svg", alt: "journey") %>
    <div class="show-info">
      <div class="line-ride-card-route" id="origin">
        <h1><%= params[:origin].capitalize %></h1>
        <div class="date-time-container">
          <%= image_tag("calendar.svg", alt: "calendar") %>
          <p><%= @ride.date.strftime('%d %b %Y') %></p>
          <p><%= @ride.start_time.strftime('%H:%M') %></p>
        </div>
      </div>
      <div class="line-ride-card-route" id="destination">
        <h1><%= params[:destination].capitalize %></h1>
        <p><span data-map-target="total"> <%= @ride.price_per_km %></span> €</p>
      </div>
    </div>
  </div>
  <div class="show-driver-card">
    <%= cl_image_tag @ride.driver.user.photo.key, crop: :fill, class:"avatar-bordered" %>
    <div class="driver-info">
      <%= link_to driver_path(@ride.driver, ride_id:@ride.id, origin: params[:origin], destination:params[:destination], date:params[:date], passengers:params[:passengers]), class: "text-decoration-none text-darkblue" do %>
        <h2><%= @ride.driver.user.first_name %></h2>
      <% end %>
      <p><%= @ride.driver.car_model %></p>
    </div>
    <% if @chatroom.nil? %>
      <%= link_to ride_chatrooms_path(@ride,origin: params[:origin], destination:params[:destination], date:params[:date], passengers:params[:passengers] ), data: { "turbo-method": :post } do %>
        <%= image_tag('chat.svg', alt: 'Chat with driver') %>
      <% end %>
    <% else %>
      <%= link_to ride_chatroom_path(@ride, @chatroom, origin: params[:origin], destination:params[:destination], date:params[:date], passengers:params[:passengers]) do %>
        <%= image_tag('chat.svg', alt: 'Chat with driver') %>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for ([@ride, @booking]), html: {class: "ride-book-card"} do |f| %>
    <div class="ride-book-input">
      <%= f.input :seats, input_html: {value: 1}%>
    </div>
    <div class="ride-book-container">
      <%= f.button :submit, "Book" %>
    </div>
  <% end %>
</div>
